.bg{
  background: linear-gradient(rgba(240, 131, 131, 0.86), rgb(150, 232, 243) ), url(../src/images/Double.png) center center no-repeat fixed;
    background-size: cover;
    background-attachment: fixed;
    height: 609px;
}